<div class="app-header">
    <span class="header-trigger" (click)="onClickToggleNav()">
      <i class="trigger" nz-icon [nzType]="(expanded$ | async)? 'menu-fold' : 'menu-unfold'" ></i>
   </span>

    <app-tabs></app-tabs>
    <div class="header-right">
        <div class="cluster-label">
            <label>Cluster:</label>
        </div>
        <div class="cluster-select">
            <nz-select [formControl]="activeClusterFormControl">
                <nz-option *ngFor="let cluster of (clusters$ | async)" [nzValue]="cluster" [nzLabel]="cluster.Name"></nz-option>
            </nz-select>
        </div>
    </div>
</div>