@import '../../../theme.less';

.trigger:hover {
    color: @primary-color;
}

.app-header {
    position: relative;
    display: flex;
    height: 64px;
    padding: 0;
    background: @component-background;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);

    flex-direction: row;
    width: 100%;

    .header-trigger {
        height: 64px;
        font-size: 20px;
        cursor: pointer;
        transition: all .3s, padding 0s;
        margin-left: 1em;
    }

    app-tabs {
        flex-grow:1
    }

    .header-right {
        .cluster-label {
            display: inline-block;
            margin-right: 1em;
        }

        .cluster-select {
            display: inline-block;
            width: 200px;
            margin-right: 1em;
        }
    }
}

nz-select {
    width: 100%;
}