<div *ngIf="producer$ | async as producer">
    <h1>
        {{producer.name}}
    </h1>
    <div class="form-section">
        <div class="form-label">
            <label>Cluster</label>
        </div>
        <div class="form-input">
            <nz-select [(ngModel)]="clusterInput">
                <nz-option *ngFor="let cluster of clusters$ | async" [nzValue]="cluster" [nzLabel]="cluster.Name"></nz-option>
            </nz-select>
        </div>
    </div>

    <div class="form-section">
        <div class="form-label">
            <label>Topic</label>
        </div>
        <div class="form-input">
            <input nz-input placeholder="Topic" [(ngModel)]="topicInput" />
        </div>
    </div>

    <div class="form-section">
        <div class="form-label">
            <label>Partition</label>
        </div>
        <div class="form-input">
            <nz-input-number [(ngModel)]="partitionInput" [nzStep]="1"></nz-input-number>
        </div>
    </div>

    <div class="form-section">
        <div class="form-label">
            <label>Message</label>
        </div>
        <div class="form-input">
            <textarea rows="10" nz-input [(ngModel)]="messageInput"></textarea>
        </div>
    </div>

    <button (click)="produce()">Produce</button>
</div>