<div *ngIf="message.type === MessageType.MESSAGE">
    <!-- Tree format -->
    <app-message-tree *ngIf="messageFormat === 'TREE'" [message]="message"></app-message-tree>

    <app-message-json *ngIf="messageFormat === 'JSON'" [message]="message"></app-message-json>

    <app-message-raw *ngIf="messageFormat === 'RAW'" [message]="message"></app-message-raw>

</div>
<span *ngIf="message.type === MessageType.EOS">{{message.data}}</span>
<span *ngIf="message.type === MessageType.SKIP">...Skipped {{message.data}}</span>