<div *ngIf="consumer$ | async as consumer">
    <h1>
        {{consumer.name}}
    </h1>
    <div class="form-section">
        <div class="form-label">
            <label>Cluster</label>
        </div>
        <div>
            <nz-select [(ngModel)]="clusterInput">
                <nz-option *ngFor="let cluster of clusters$ | async" [nzValue]="cluster" [nzLabel]="cluster.Name"></nz-option>
            </nz-select>
        </div>
    </div>

    <div class="form-section">
        <div class="form-label">
            <label>Topic</label>
        </div>
        <div>

            <input nz-input placeholder="Topic" [(ngModel)]="topicInput" />
        </div>
    </div>

    <div class="form-section">
        <div class="form-label">
            <label>Offset</label>
        </div>
        <div>
            <nz-input-number [(ngModel)]="offsetInput" [nzStep]="1"></nz-input-number>
        </div>
    </div>

    <button (click)="consume()">Consume</button>

    <div>
        <app-message-tree *ngFor="let message of messages$ | async" [value]="message"></app-message-tree>
    </div>
</div>