<div class="nav-container">
    <div class="sidebar-logo">
        <h1>KGui</h1>
    </div>
    <ul nz-menu nzMode="inline">
        <li nz-menu-item ngMatchRouter>
            <i nz-icon nzType="appstore"></i>
            <span>
            <a routerLink="/clusters">Clusters</a>
        </span>
        </li>

        <li nz-submenu nzIcon="folder" nzTitle="Collections">
            <ul>
                <li>
                    <app-nav-tree></app-nav-tree>
                </li>

                <li class="menu-item clickable" (click)="addFolder()">
                    Add Folder
                </li>
            </ul>
        </li>


        <!-- <li nz-submenu nzIcon="file" nzTitle="Save / Load">
            <ul>
                <li class="menu-item clickable">
                    Save to File
                </li>
                <li class="menu-item clickable" (click)="openLoadDialog()">
                    Load from File
                </li>
            </ul>
        </li> -->
    </ul>

    <nz-modal [(nzVisible)]="showRenameModal" nzTitle="Load from file" (nzOnCancel)="onCancelModal()" (nzOnOk)="onSubmitModal()">
        <ng-container *nzModalContent>
            <form (submit)="onSubmitModal($event)">
                <input nz-input type="file" (change)="onFileUpload($event)" />
            </form>
        </ng-container>
    </nz-modal>
</div>