<div class="nav-container">
    <div class="sidebar-logo">
        <img [src]="logoSrc" >
        <!-- TODO: in browser, this needs the /app prefix. In wails it needs to not have the prefix -->
        <!-- <img src="/app/assets/color-logo-text-only.png"> -->
    </div>
    <ul nz-menu nzMode="inline">
        <li nz-menu-item ngMatchRouter>
            <i nz-icon nzType="appstore"></i>
            <span>
            <a routerLink="/clusters">Clusters</a>
        </span>
        </li>

        <li nz-submenu nzIcon="folder" nzTitle="Collections">
            <ul>
                <li>
                    <app-nav-tree></app-nav-tree>
                </li>

                <li class="menu-item clickable" (click)="addFolder()">
                    Add Folder
                </li>
            </ul>
        </li>


        <li nz-submenu nzIcon="file" nzTitle="Save / Load" *ngIf="isBrowserRuntime()">
            <ul>
                <li class="menu-item clickable" (click)="saveToFile()">
                    Save to File
                </li>
                <li class="menu-item clickable" (click)="openLoadDialog()">
                    Load from File
                </li>
            </ul>
        </li>
    </ul>

    <nz-modal [(nzVisible)]="showRenameModal" nzTitle="Load from file" (nzOnCancel)="onCancelModal()" (nzOnOk)="onSubmitModal()">
        <ng-container *nzModalContent>
            <form (submit)="onSubmitModal($event)" spellcheck="false">
                <input nz-input type="file" (change)="onFileUpload($event)" />
            </form>
        </ng-container>
    </nz-modal>
</div>