<div class="content">
    <div class="content-left">
        <div class="title center-parent">
            <form [formGroup]="formGroup">
                <h1>{{consumer.name}}</h1>
            </form>
        </div>

        <form nz-form [formGroup]="formGroup">
            <div class="form-section">
                <div class="form-label">
                    <label>Topic</label>
                </div>
                <div class="form-input">
                    <input nz-input placeholder="Topic" formControlName="topic" autocomplete="off" autocapitalize="off" />
                </div>
            </div>

            <div class="form-section">
                <div class="form-label">
                    <label>Offset</label>
                </div>
                <div class="form-input">
                    <nz-input-number formControlName="offset" [nzStep]="1"></nz-input-number>
                </div>
            </div>
            <div class="form-section">
                <div class="form-label">
                    <label>Follow</label>
                </div>
                <div class="form-input">
                    <nz-switch formControlName="follow"></nz-switch>
                </div>
            </div>
            <div formArrayName="filters" class="form-section" *ngFor="let filter of filters.controls; let i = index; trackBy: filterTrackBy">
                <div class="form-label">
                    <label *ngIf="i===0">Filters</label>
                </div>
                <div class="form-input filter-input">
                    <input nz-input [formControlName]="i" autocomplete="off" autocapitalize="off" />
                    <div class="center-parent">
                        <i class="vcenter clickable" nz-icon nzType="minus-circle" nzTheme="outline" (click)="deleteFilter(i)"></i>
                    </div>
                </div>
            </div>
            <div class="form-section">
                <div class="form-label"> </div>
                <div class="form-input">
                    <button nz-button nzType="primary" (click)="addFilter()">Add Filter</button>
                </div>
            </div>
            <div class="form-section" *ngIf="!isConsuming">
                <div class="form-label"> </div>
                <div class="form-input">
                    <button nz-button nzType="primary" (click)="consume()">Consume</button>
                </div>
            </div>
            <div class="form-section" *ngIf="isConsuming">
                <div class="form-label"> </div>
                <div class="form-input">
                    <button nz-button nzType="primary" (click)="stop()">Stop</button>
                </div>
            </div>
        </form>

    </div>

    <div class="content-right">
        <div class="radio-container">
            <nz-radio-group [(ngModel)]="messageFormat">
                <label nz-radio-button nzValue="TREE">Tree</label>
                <label nz-radio-button nzValue="JSON">JSON</label>
                <label nz-radio-button nzValue="RAW">Raw</label>
            </nz-radio-group>
        </div>

        <!-- <div class="message-container"> -->
        <!-- <div class="message-text" *ngFor="let message of messages; trackBy: messageTrackBy"> -->
        <!-- </div> -->

        <cdk-virtual-scroll-viewport #virtualScroll class="message-container" [itemSize]="10" minBufferPx="1800" maxBufferPx="1800">
            <div class="message-text" *cdkVirtualFor="let message of messages; trackBy: messageTrackBy">
                <app-message [message]="message" [messageFormat]="messageFormat"></app-message>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>