@import "~ng-zorro-antd/ng-zorro-antd.less";

#clusters {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

nz-card {
    min-height: 200px;
    width: 300px;
}

nz-card.add-cluster {
    text-align: center;
    transition: 0.2s;

    &:hover {
        color: @blue-6;
        border: 1px solid @blue-6;
        transition: 0.2s;
    }
}

i {
    cursor: pointer;
    transition: 0.2s;
        width: 1.5em;
        height: 1.5em;

}
i:hover {
    transition: 0.2s;
    color: @blue-6;
}