<div class="content">
    <div class="content-left">
        <div class="title center-parent">
            <form [formGroup]="formGroup" spellcheck="false">
                <h1>{{producer.name}}</h1>
            </form>
        </div>

        <form nz-form [formGroup]="formGroup" spellcheck="false">
            <div class="form-section">
                <div class="form-label">
                    <label>Topic</label>
                </div>
                <div class="form-input">
                    <input nz-input formControlName="topic" placeholder="Topic" autocomplete="off" autocapitalize="off" />
                </div>
            </div>

            <div class="form-section">
                <div class="form-label">
                    <label>Partition</label>
                </div>
                <div class="form-input">
                    <nz-input-number formControlName="partition" [nzStep]="1" [nzMin]="0"></nz-input-number>
                </div>
            </div>

            <div class="form-section message-form-section">
                <div class="form-label">
                    <label>Message</label>
                </div>
                <div class="form-input">
                    <textarea formControlName="message" rows="10" nz-input></textarea>
                </div>
            </div>

            <div class="form-section">
                <div class="form-label"> </div>
                <div class="form-actions">
                    <button nz-button nzType="default" (click)="onClickJSONFormat()">Format JSON</button>
                </div>
            </div>

            <div class="form-section">
                <div class="form-label"> </div>
                <div class="form-input">
                    <button nz-button nzType="primary" (click)="produce()">Produce</button>
                </div>
            </div>
        </form>


    </div>

    <div class="content-right">
        <div *ngFor="let request of requests.reverse()">
            <code>{{request.data.Message }} - {{request.status}}</code>
        </div>
    </div>
</div>