<div class="content">
    <div class="content-left">
        <h1>
            {{consumer.name}}
        </h1>
        <form nz-form [formGroup]="formGroup">
            <div class="form-section">
                <div class="form-label">
                    <label>Cluster</label>
                </div>
                <div class="form-input">
                    <nz-select formControlName="cluster">
                        <nz-option *ngFor="let cluster of clusters" [nzValue]="cluster" [nzLabel]="cluster.Name"></nz-option>
                    </nz-select>
                </div>
            </div>

            <div class="form-section">
                <div class="form-label">
                    <label>Topic</label>
                </div>
                <div class="form-input">
                    <input nz-input placeholder="Topic" formControlName="topic" />
                </div>
            </div>

            <div class="form-section">
                <div class="form-label">
                    <label>Offset</label>
                </div>
                <div class="form-input">
                    <nz-input-number formControlName="offset" [nzStep]="1"></nz-input-number>
                </div>
            </div>
        </form>

        <button (click)="consume()">Consume</button>
    </div>

    <div class="content-right">
        <div *ngFor="let message of messages ">
            <code>{{message}}</code>
        </div>
    </div>
</div>